[tool.poetry]
name = "nwp-demo"
version = "1.0"
description = "Demo scripts and notebooks for reading and processing forecast data using Polytope."
authors = ["MeteoSwiss"]
package-mode = false

[[tool.poetry.source]]
name = "pypi-mch"
url = "https://service.meteoswiss.ch/nexus/repository/python-all/simple"
priority = "primary"

[[tool.poetry.source]]
name = "pypi"
priority = "supplemental"

[[tool.poetry.source]]
name = "testpypi"
url = "https://test.pypi.org/simple/"
priority = "supplemental"

[tool.poetry.dependencies]
python = "~3.11"

pyfdb = { url = "https://github.com/ecmwf/pyfdb/archive/refs/tags/0.0.3.tar.gz" }

# Replace the PyPI earthkit-plots pin if you want the branch override
earthkit-utils = { git = "https://github.com/ecmwf/earthkit-utils.git", branch = "develop" }
earthkit-data  = { git = "https://github.com/ecmwf/earthkit-data.git", branch = "develop" }
earthkit-plots = { git = "https://github.com/ecmwf/earthkit-plots.git", branch = "feature/sources-redesign" }
earthkit-regrid = { git = "https://github.com/ecmwf/earthkit-regrid.git", branch = "feature/iconch" }

# TestPyPI dev builds
eckit = { version = "1.33.1.dev24", source = "testpypi" }
mirlib = { version = "1.27.11.dev24", source = "testpypi" }
mir-python = {version = "^1.27.11.dev10", allow-prereleases = true}

ipykernel = "^6.29.4"
nbformat = "^5.10.4"
kaleido = "0.2.1"
nbconvert = "^7.16.6"

[tool.pytest.ini_options]
testpaths = ["test"]
pythonpath = "."

[tool.yapf]
based_on_style = "pep8"
column_limit = "120"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
