[tool.poetry]
name = "nwp-demo"
# Keep only Major and Minor version in this configuration,
# the patch version is calculated when releasing the library
version = "1.0"
description = "Demo scripts and notebooks for reading and processing forecast data using Polytope."
authors = ["MeteoSwiss"]
package-mode = false

[tool.poetry.dependencies]
python = "~3.11"
meteodata-lab = { version = "^0.6.0", extras = ["polytope", "regrid"] }
pyfdb = { url = "https://github.com/ecmwf/pyfdb/archive/refs/tags/0.0.3.tar.gz" }
earthkit-plots = "^0.3.5"
ipykernel = "^6.29.4"
nbformat = "^5.10.4"
earthkit-geo = "^0.3.0"
polytope-client = "^0.7.8"
kaleido = "0.2.1"
nbconvert = "^7.16.6"

[tool.pytest.ini_options]
testpaths = ["test"]
pythonpath = "."

[tool.yapf]
based_on_style = "pep8"
column_limit = "120"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
